html{
    scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color:rgb(223, 222, 222);
  font-size: 150%;
  font-family: sans-serif;
  line-height: 1.8;
  letter-spacing: 0.5px;
  margin-top: 100px;
}

.cart-container {
  max-width: 1400px;
  margin:  auto;
  padding: 40px 60px;
}

h1 {
  margin-bottom: 40px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.cart-content {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.cart-items {
  display:grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  flex: 2;
}

.cart-item {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 15px;
  padding: 15px;
  gap:20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.cart-item img {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  object-fit: contain;
  margin-left: 15px;
}

.item-info h3 {
  margin-bottom: 20px;
}

.price {
  color: #090005;
  font-weight: 600;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.quantity button {
  width: 30px;
  height: 30px;
  border: none;
  background: #f1dbe6;
  border-radius: 50%;
  cursor: pointer;
}

.remove {
  margin-right: auto;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #080000;
}

.summary {
  flex: 1;
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  height: fit-content;
}

.summary h2 {
  margin-bottom: 20px;
  color: #0b0006;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.summary hr {
  margin: 15px 0;
  border: none;
  border-top: 1px solid #fffcfc;
}

.total {
  font-weight: 700;
}

.checkout-btn {
  width: 100%;
  padding: 12px;
  background: rgb(212, 210, 210);
  color: #090101;
  border: none;
  border-radius: 25px;
  font-size: 19px;
  cursor: pointer;
  margin-top: 15px;
}

.checkout-btn:hover {
  background: rgb(141, 118, 118);
}

.continue {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #0e0007;
  text-decoration: none;
}

.continue:hover{
  color: rgb(173, 137, 137);
}

footer{
    background-color: rgb(212, 210, 210);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 20px 0px;
    font-size: 20px;
}
footer > .footer-objects{
    display: flex;
    justify-content: space-between;
    width: 1300px;
}
footer > .footer-objects a{
  color:black ;
  text-decoration: none;
}
footer > .footer-objects a:hover{
  color: rgb(141, 118, 118);  
}
footer > .footer-objects > .menu-footer > .title-large {
  font-size: 40px;
}
footer > .footer-objects > .menu-footer > .title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-left: 20px;
    padding-bottom: 15px;
    font-size: 25px;
}
footer > .copy-right{
  font-size: 9px;
}
hr{
    width: 1300px;
    border: #b1b4c6 solid 0.5px;
    margin: 20px;
}